doctype html
html(lang='ru', class="no-js")
  head
    meta(charset='utf-8')
    
    title Blog
    meta(name='description', content='')
    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    
    link(href="css/style.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
  body
    .container
      .row
        .col-md-12
          h1.text-center Start-template
          .block
          .block-1
          .block-2
          .block-3
script(src="js/scripts.js")
script(src="js/common.js")
